.card {
  width: 5vw;
  height: 8vh;
  margin: 0;
}

.movie-poster {
  width: 20vw;
  height: 50vh;
}

.card:hover {
  cursor: pointer;
}

.movie-title {
  font-size: 3rem;
  width: 20vw;
}

.movie-rating {
  color: red;
  font-size: 1.7rem;
  margin: 0;
}

.rating-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  border-radius: 50%;
  background-color: rgba(223, 232, 219, .8);
  float: left;
  margin-left: 5px;
  margin-bottom: -90px;
  position: relative;
  z-index: 1;
}
